// Place all the styles related to the temps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3bbfce;
$arial: 'helvetica';

h1 {
  color: $blue;
  font-family: $arial;
    
}