<!DOCTYPE html>
<html>
<head>
  <title>Matches</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application", "https://www.google.com/jsapi"  %>

</head>
<body>
<h1>Test Application</h1>
<p>
<%= yield %>

</body>
</html>
