<!DOCTYPE html>
<html>
<head>
  <title>Matches</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application"  %>
</head>
<body>
<p>This text is from application.html.erb</p>
<%= yield %>

</body>
</html>
